/* Body styles */
body {
    background-color: var(--color-background-light-primary);
}

.page {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.page-body {
    width: 80vw;
    max-width: 1500px;
    margin-top: calc(var(--space-header) + var(--space-primary));
}

@media only screen and (max-width: 769px) {
    .page-body {
        width: 100vw;
        padding: 0px var(--space-secondary);
    }
}
