/* Page header */
.page-header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background-dark-primary);
    box-shadow: var(--shadows-secondary);
    height: var(--space-header);
}

.page-header-section {
    display: flex;
}

@media only screen and (max-width: 769px) {
    .page-header {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}
